header {
	background-color: gray;
	text-align: center;
	padding-bottom: 2.5em;
	padding-top: 2em;

}

.logo {
	width: 25em;
	margin: 0em;
}

header h1 {
	font-size: 2em;
	padding-bottom: -1em;

}

header h2 {
	font-size: 1.3em;
	padding-top: -1em;
	color: white;

}

main {
	text-align: center;

}

main button {
	background-color: gray;
	font-weight: bold;
	margin: .5em;
}

main button :hover {
	background-color: black;
}

main button :active {
	position:relative;
	top:1px;
}

main input {
	margin-top: 2em;
}

main li {
	list-style-type: none;
	margin-top: 1em;
}

