header {
	background-color: gray;
	text-align: center;
	padding-bottom: 2.5em;
	padding-top: 2em;
	width: 960px;
	margin: auto;

}

.logo {
	width: 25em;
	margin: 0em;
}

header h1 {
	font-size: 2em;
	padding-bottom: -1em;

}

header h2 {
	font-size: 1.3em;
	padding-top: -1em;
	color: white;
	text-align: center;

}

main {
	text-align: center;
	width: 960px;
	margin: auto;

}

main button {
	background-color: gray;
	font-weight: bold;
	margin: .5em;
}

main button:hover {
	background-color: black;
	color: white;
}

main button:active {
	position:relative;
	top: 1px;
}

main > input:first-child {
	width: 15em;
}

main input {
	margin-top: 2em;
	width: 3em;
	margin-left: 1em;
}

input[type=checkbox] {
	width: 2em;
}

main ul {
	padding: 0em;
}

main li {
	list-style-type: none;
	margin-top: 1em;
	font-size: 1.1em;
}

